<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Drive Track</title>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/css/styles.css" />
</head>

<body>
    <div class="navigation col-lg-1">
        <h1 class="head-title">
            <a href="./home.html">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Drive Track
            </a>
        </h1>
        <nav id="navigation">
            <a href="../views/employee.html">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Repartidores
            </a>
            <a href="../views/order.html">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                Pedidos
            </a>
            <a href="../views/tracking.html">
                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                Rastreo
            </a>
        </nav>

        <nav id="user_logged">
            <div class="user-image">
                <img id="image-logged" src="../uploads/users/default-admin.png" />
            </div>
            <span id="identity_name">
                NOMBRE USUARIO
            </span>

            <a href="../views/user-edit.html">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Mis datos
            </a>
            <a href="../index.html" class="btn-logout">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                Salir
            </a>
        </nav>
    </div>

    <div class="col-lg-6 col-lg-offset-2">
        <div class="jumbotron">
            <form class="col-lg-10">
                <h2> REGISTRO DE PEDIDOS</h2>
                </br>
                <p>
                    <label>Numero de orden:</label>
                    <input type="text" class="form-control" required />
                </p>
                <p>
                    <label>Descripcion:</label>
                    <textarea name="textarea" rows="10" cols="50" required placeholder="Registrar los productos de la orden..."></textarea>
                </p>

                </br>
                <input type="submit" value="Aceptar" class="btn btn-primary" />
            </form>
        </div>
    </div>
</body>

</html>