<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Drive Track</title>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/home.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body onload="iniciar()">
  <div class="col-lg-6 login">
    <div class="col-lg-3">
      <h1>Drive Track</h1>
      <h3>LOGIN</h3>
    </div>

    <form class="col-lg-10">
      <p>
        <label>Usuario:</label>
        <input type="text" class="form-control" required  id="txtUser"/>
      </p>
      <p>
        <label>Contraseña:</label>
        <input type="password" class="form-control" required id="txtPwd" />
      </p>
        <input type="button" value="Aceptar" class="btn btn-primary" onclick="enviar()" />
    </form>
  </div>
</body>

</html>