/*GLOBAL*/
html,body{
	height: 100%;
	width: 100%;
	background-color:  #eee;
}

.fondo{
	background-color:#eee;
}

.fondo h1{
	color:black;
	font-weight: bold;
}
.fondo h2{
	color:black;
	font-weight: bold;
}
.fondo h3{
	color:black;
	font-weight: bold;
}

.fondo p{
	color:black;
	font-weight: bold;
}

.fondo a{
	color: black;
	font-weight: bold;
}

.fondo textarea{
	color: black;
}

.bodyLogin{
	background-image: url("../images/background.png"); 
	background-repeat: no-repeat;
	background-position: center center;  
	background-size: cover;
	height: 90%;
	width: 100%;
}

.LogotipoHome{
width: 320px;
height: 150px;
}
/* LOGIN */
/*
COLORES
ROJO: #B32018
NARANJA: #FBA01C
NEGRO: #030002
BLANCO: #FFFFFF
*/
.contendedorL{
    background-color:rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 12%;
}

.contendedorL h3{
	color: white;
}

.headerLogin{
background-color:  #1C1C1F;
text-align: center;
padding: 10px;
}

.boxDesign{
	background-color: #FBA01C;
	height: 10px;
	box-shadow: 2px 7px 2px 1px rgba(0, 0, 0, 0.2);
}

#imgLogo{
    align-content: center;
    text-align: center;
    width: 140px;
    height: 95px;
}

#formLogin{
    font-family: sans-serif;
    font-size: 17px;
    font-style: normal;
}

#formLogin p input{
	text-align: center;
	padding: 10px;
}

#formLogin p label{
	color: white;
}

#formLogin p {
	margin-left: 10%;
	margin-right: 10%;
}

.btnL{
	padding: 10px;
	border-radius: 90px;
	font-family: sans-serif;
    padding-left: 40px;
	padding-right: 40px;
	margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
	background-color:#B32018;
	color:white;
}

.btnL:hover{
	color:white;
	background-color:rgb(231, 146, 18);
}

.btn{
    padding: 10px;
    border-radius: 90px;
    font-family: sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
    background-color: #FBA01C;
}

.footer{
padding-bottom: 0%;
background-color:  #1C1C1F;
height: 40px;
position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

/*Tabla*/
  td, tr {
	  background-color: #1C1C1F;
	  color: #FFF;
	  vertical-align: middle;
	  font-size:medium;
  }

  .table{
	  height: 32%;
	  color: black;
  }

  
  .scrollbar {
	position: relative;
	height: 520px;
	overflow-y: auto;
	display: block;
	}
	
	.scrollbarOrders {
		position: relative;
		height: 120px;
		overflow-y: auto;
		display: block;
		}


/*MAPA*/
#map{
	height: 520px;
	width: 100%;
}

/*BARRA LATERAL*/
/*
COLORES
ROJO: #B32018
NARANJA: #FBA01C
NEGRO: #030002
BLANCO: #FFFFFF
*/
.head-title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

.navigation{
	text-align: center;
	color: white;
	background: #030002;
	height: 100%;
}

.navigation a{
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}

.navigation a:hover{
	color: rgb(243, 200, 136);
}

.navigation .glyphicon{
	font-size: 30px;
	display: block;
	width: 100%;
}

#user_logged{
	text-decoration: center;
	background: #030002;
	position: absolute;
	bottom:0px;
	border-top:1px solid #444;
	width: 75%;
}

#user_logged .user-image{
	background: #eee;
	border-radius: 100px;
	height: 57px;
	width: 57px;
	margin: 0px auto;
	margin-top: 15px;
	overflow: hidden;
}

#user_logged .user-image img{
	width: 57px;
}

.btn-logout{
	cursor:pointer;
}

#Pendientes>tr>td{
	background-color: #eee;
	color:#333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: medium;
}

#Activos>tr>td{
	background-color: #eee;
	color:#333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#Entregados>tr>td{
	background-color: #eee;
	color:#333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}